body{
    text-align: center;
}
.omikuji_all{
    margin: 150px auto 0;
    display: flex;
    flex-direction: column;

}
.omikuji{
    width: 15%;
    cursor: pointer;
    margin: 0 auto;
}
#result_area{
    width: 800px;
    margin: 0 auto;
    
}
#result_area > img{
    width: 15%;
}
button{
    width: 20%;
    margin: 0 auto;
    font-size: 32px;
    background-color: rgb(200, 107, 107);
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    
}
button:hover{
    background-color: brown;

}




@media screen and (max-width:1215px) {
    button{
        font-size: 28px;
        width: 30%;
    }
}
@media screen and (min-width:768px) and (max-width:960px) {
    button{
        font-size: 25px;
        width: 30%;
    }
}

@media screen and (min-width:429px) and (max-width:959px) {
    button{
        font-size: 20px;
        width: 30%;
    }
}

@media screen and (min-width:375px) and (max-width:428px) {
    button{
        font-size: 14px;
        width: 32%;
    }
    .hand{
        width: 50%;
    }
}

